.primary {
    color: #33417d;
}

.secondary {
    color: #b7cccf;
}

.content-title {
    margin: 3rem;
}

.container {
    max-width: 900px;
}

.link-hover:hover p {
    color: #fc566a;
}

.link-hover:hover a {
    color: #fc566a;
}
