* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
}

html {
    scroll-behavior: smooth;
}

body {
    background-repeat: reapeat-y;
    background-color: #4c5063;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}

.open {
    background: rgb(39, 40, 48) !important;
    border-radius: 0 0 0 0 !important;
    display: block !important;
}

.open:hover {
    border: none !important;
    transform: none !important;
}
