.contacts-content {
    height: auto;
}

.square-container {
    position: relative;
}

.send-email {
    width: 90%;
    min-width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-style {
    border: none;
    height: 4rem;
    background-color: #7d2a34;
    border-radius: 0.75rem;
}

.form-style::placeholder {
    margin-left: 0.5rem;
    color: white;
}

.form-content {
    display: flex;
    flex-direction: column;
    background-color: #7d2a34;
    margin: 0.5rem 0;
    border-radius: 0.75rem;
}

.form-label {
    padding: 0.5rem 0.5rem 0 1rem;
}

.textarea {
    height: 6rem;
}

.form-button-content {
    width: 100%;
}

.form-button {
    width: 50%;
    transition: 0.3s;
    background-color: #4da7fa;
}

.form-button:hover {
    border-radius: 5px;
    transition: 0.3s;
}

.send-email-icon {
    margin-right: 0px;
}

input {
    margin-left: 1rem;
    color: #e8f1f2;
    line-height: 2;
}

input:focus {
    outline: none;
}

textarea {
    margin-left: 1rem;
    color: #e8f1f2;
    line-height: 2;
}

textarea:focus {
    outline: none;
}

/* CSS */
.button-40 {
    background-color: #7d2a34;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.75rem 1.2rem;
    text-align: center;
    text-decoration: none #6b7280 solid;
    text-decoration-thickness: auto;
    transition-duration: 0.2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button-40:hover {
    background-color: #374151;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .button-40 {
        padding: 0.75rem 1.5rem;
    }
}

.contacts-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem;
}

.contacts-square {
    width: 50%;
    height: 420px;
    border-radius: 0 0.5rem 0 0;
    background-color: #fc566a;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.contacts-background {
    width: 100vw;
    height: 400px;
    background-color: #3d151a;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}
